@import 'tailwindcss';

@theme {
    --color-yellow-mellow: #CF9033;
    --color-yellow-mellow-light: #E0B167;
    --color-warm-gray: #202020;
    --color-warm-gray-dark: #171717;
    --color-warm-gray-light: #F0F0F0;
    --color-warm-gray-medium: #747474;

    --font-primary: "Montserrat", "sans-serif";
}



