@import 'tailwindcss';

@theme {
    --color-yellow-mellow: #CF9033;
    --color-yellow-mellow-light: #E0B167;
    --color-warm-gray: #202020;
    --color-warm-gray-dark: #171717;
    --color-warm-gray-light: #F0F0F0;
    --color-warm-gray-medium: #747474;

    --font-primary: "Montserrat", "sans-serif";
}

@layer components {
    .nav-link {
        @apply p-8 hover:underline underline-offset-4 cursor-pointer decoration-yellow-mellow decoration-4;
    }
    
    .svg-link{
        @apply group-hover:fill-yellow-mellow-light transition-all duration-500;
    }
}

html, 
body,
#root {
    height: 100%;
}


#btn {
    box-shadow: inset 0 0 0 0.09px #000000;
    transition: all 0.4s ease-in-out;
}

#btn:hover {
    box-shadow: inset 350px 0 0 0 black;
    transform: scale(1.1);
    color: white;
}



