@import 'tailwindcss';
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
    --color-yellow-mellow: #CF9033;
    --color-yellow-mellow-light: #E0B167;
    --color-warm-gray: #202020;
    --color-warm-gray-dark: #171717;
    --color-warm-gray-light: #F0F0F0;
    --color-warm-gray-medium: #747474;

    --font-primary: "Montserrat", "sans-serif";
}

@layer components {
    .nav-link {
        @apply p-8 hover:underline underline-offset-4 cursor-pointer decoration-yellow-mellow decoration-4;
    }
    
    .svg-link{
        @apply group-hover:fill-yellow-mellow-light transition-all duration-500;
    }
}


@layer base {
  :root {
    --linkColor: #CF9033;
    --lineStroke: 2px;
    --lineOpacity: 30%;
    --filledLine: var(--linkColor);
    --unfilledLine: color-mix(in lab, var(--linkColor) var(--lineOpacity), transparent);
  }
}

@layer utilities {
  .fancy-link {
    cursor: pointer;
    color: var(--linkColor);
    padding-bottom: var(--lineStroke);
    background:
      linear-gradient(var(--filledLine), var(--filledLine)) no-repeat 100% 100% / 0 var(--lineStroke),
      linear-gradient(var(--unfilledLine), var(--unfilledLine)) no-repeat 0 100% / 100% var(--lineStroke);
    transition: background-size 300ms var(--bezierFastoutSlowin, ease);
  }
  .fancy-link:hover,
  .fancy-link:focus-visible {
    background:
      linear-gradient(var(--filledLine), var(--filledLine)) no-repeat 0 100% / 100% var(--lineStroke),
      linear-gradient(var(--unfilledLine), var(--unfilledLine)) no-repeat 0 100% / 100% var(--lineStroke);
  }
  .fancy-link--secondary {
    --linkColor: #f5f5f5;
  }
}
